@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Audiowide&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#Wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #E2E8F0;
    position: relative;
    overflow: hidden;
}

#TriangleWrapper{
    width: 63%;
    height: 100%;
    position: absolute;
    left: 37%;
    filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.4));
}

#Triangle{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0000CD, #6A27F5);
    clip-path: polygon(0% 0%, 100% 100%, 100% 0);
}

#Bar{
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Logo{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide', 'Anek Latin';
    font-size: 40px;
    user-select: none;
}

#Buttons{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Btn{
    width: 120px;
    height: 40px;
    border-radius: 60px;
    border: transparent;
    font-family: 'Anek Latin', 'Audiowide';
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

#LoginBtn{
    border: 3px solid #E2E8F0;
    background-color: transparent;
    color: #E2E8F0;
}

#SignupBtn{
    background-color: #E2E8F0;
}

#Words{
    position: absolute;
    font-family: 'Anek Latin', 'Audiowide';
    top: 36%;
    left: 6%;
}

.WordsBig{
    font-size: 72px;
    font-weight: 600;
}

#ColorfulWord{
    color: #6A27F5;
}

#Image{
    width: 700px;
    height: 700px;
    position: absolute;
    left: 750px;
    top: 50px;
    user-select: none;
}